{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}
{% block title %}База данных{%endblock title%}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="container">
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        <div class="container">
            {% csrf_token %}
            <fieldset>
                <legend>Ввод общей информации</legend>
                {% for field in add_medcine %}
                <!--                <p>{{field.label}}:</p>-->
                <!--                <p>{{field.help_text}}</p>-->
                <p>{{field|as_crispy_field}}</p>
                <!--                {% if field.errors %}-->
                <!--                <ul>-->
                <!--                    {% for error in field.errors %}-->
                <!--                    <li>{{error}}</li>-->
                <!--                    {% endfor %}-->
                <!--                </ul>-->
                <!--                {% endif %}-->
                {% endfor %}
            </fieldset>
        </div>
        <div class="container">
            <legend>Ввод синонимов</legend>
            {{ add_synonyms.management_form }}
            {% if add_synonyms.none_field_errors %}
            <ul>
                {% for error in add_synonyms.none_field_errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% for forms in add_synonyms %}

            {% for hidden in forms.hidden_fields %}
            {{hidden}}
            {% endfor %}
            {% if forms.none_field_errors %}
            <ul>
                {% for error in forms.none_field_errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% for fields in forms.visible_fields %}
            <!--                    <p>{{fields.label_tag}}</p>-->
            <!--                    <p>{{fields.help_text}}</p>-->
            <p>{{fields|as_crispy_field}}</p>
            <!--                    {% if fields.errors %}-->
            <!--                    <ul>-->
            <!--                        {% for error in fields.errors %}-->
            <!--                        <li>{{error}}</li>-->
            <!--                        {% endfor %}-->
            <!--                    </ul>-->
            <!--                    {% endif %}-->
            {% endfor %}
            {% endfor %}
        </div>
        <div class="container">
            <fieldset>
                <legend>Ввод источников</legend>
                {{ add_sources.management_form }}
                {% if add_sources.none_field_errors %}
                {% for error in add_sources.none_field_errors %}
                {{error}}
                {% endfor %}
                {% endif %}
                {% for forms in add_sources %}
                {% for hidden in forms.hidden_fields %}
                {{hidden}}
                {% endfor %}
                {% if forms.none_field_errors %}
                {% for error in forms.none_field_errors %}
                {{error}}
                {% endfor %}
                {% endif %}
                {% for field in forms.visible_fields %}
                <!--                    {{field.label_tag}}-->
                <!--                    {{field.help_text}}-->
                {{field|as_crispy_field}}
                <!--                    {% if field.errors %}-->
                <!--                    <ul>-->
                <!--                        {% for error in field.errors %}-->
                <!--                        <li>{{error}}</li>-->
                <!--                        {% endfor %}-->
                <!--                    </ul>-->
                <!--                    {% endif %}-->
                {% endfor %}
                {% endfor %}
            </fieldset>
            <br>
            <button class="btn btn-success" type="submit">Сохранить</button>
            <a href="{% url 'start_page:update' %}">
                <button class="btn btn-secondary" type="button">Назад</button>
            </a>
        </div>
    </form>
</div>
{% endblock body %}