{% extends 'start_page/base.html' %}
{% block form %}{{search_form}}{% endblock form %}
{% block title %}Условия пользования{% endblock title %}
{% block body_content %}
{% load static %}
<div class="policy">
    <h3>Пользовательское соглашение</h3>

    <p>Использование Вами Ресурса свидетельствует о присоединении Вас к данному Соглашению полностью и подтверждает Ваше
        согласие с приведенными ниже условиями. </p>

    <h4>ИСПОЛЬЗУЯ РЕСУРС В ЛЮБОМ ВИДЕ, ВЫ ПОДТВЕРЖДАЕТЕ, ЧТО ОЗНАКОМИЛИСЬ С ДАННЫМИ УСЛОВИЯМИ ИСПОЛЬЗОВАНИЯ И СОГЛАСНЫ
        СОБЛЮДАТЬ ИХ. ЕСЛИ ВЫ НЕ СОГЛАСНЫ – ПОЖАЛУЙСТА, НЕ ИСПОЛЬЗУЙТЕ РЕСУРС.</h4>

    <p>Данные правовые условия регулируют использование этого веб-сайта (в дальнейшем <a href="/">p&m.by</a>).</p>

    <p>Эта информация предназначена для широкой публики, но p&m.by может только дополнить информацию от Вашего врача, а
        не заменить Вам консультацию врача.</p>

    <p>Пользователь соглашается использовать веб-сайт и их содержимое старательно, правильно и законно и, в частности,
        Пользователь не должен:</p>
    <ol>
        <li>Удалять или манипулировать авторскими правами и другими идентифицирующими данными держателей прав,
            включенных в контент.
        </li>

        <li>Вводить программы, вирусы, макросы или любое другое логическое устройство или последовательность символов,
            которые вызывают или могут вызывать любые изменения на веб-сайте или информационных системах, которые его
            поддерживают.
        </li>

        <li>Использовать или устанавливать программы или устройства, способные перехватывать элементы управления или
            пароли безопасности, установленные <a href="/">p&m.by</a>.
        </li>

        <li>Также запрещено расшифровывать пароли, алгоритмы шифрования, используемые <a href="/">p&m.by</a> или любым другим элементом
            безопасности веб-сайта или любого из его пользователей.
        </li>

        <li>Пропускать авторство <a href="/">p&m.by</a> при совместном использовании, копировании и перераспределении материала на любом
            носителе или в формате и / или адаптации, ремиксе, преобразовании и создании из этого материала.
        </li>

        <li>Получать прибыль прямо или косвенно путем совместного использования, копирования и перераспределения
            материала на любом носителе или в формате и / или адаптации, ремиксации, преобразования и создания контента
            из этого материала.
        </li>

        <li>Выполнять любое действие, противоречащее закону или добросовестности.</li>
    </ol>

    <h4>ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ</h4>

    <ol>
        <li>Информацию на странице <a href="/">p&m.by</a> публикуется только в ознакомительных целях. Эта информация не заменяет
            рекомендации медицинского работника.
        </li>

        <li>Информация, содержащаяся на сайте <a href="/">p&m.by</a> не предназначена для замены отношений между Пользователем и его
            врачом, но лишь дополняет их. Если Вы нашли расхождения, обсудите их с вашим врачом и сообщите нашей команде
            чтобы мы откорректировали контент.
        </li>

        <li>p&m.by не несет ответственности за ущерб, возникший в результате использования информации, содержащейся на
            этом веб-сайте. Если вы заметили какие-либо ошибки или неверную информацию в информации, вы можете связаться
            с нами по электронной почте info@p&m.by
        </li>

        <li>p&m.by не несет ответственности за потерю или убытки, которые могут быть причинены пользователю вирусом,
            недоступностью или другим аномальным поведением веб-сайта.
        </li>

        <li><a href="/">p&m.by</a> принял все меры безопасности в своем распоряжении, чтобы обеспечить надлежащее функционирование
            веб-сайта и избежать нанесения ущерба пользователю.
        </li>

    </ol>

    <h4>ВНЕШНИЕ ССЫЛКИ</h4>

    <ol>

        <li><a href="/">P&m.by</a> не несет никакой ответственности за услуги и / или информацию, предоставленную на других сайтах,
            связанных с этим сайтом.
        </li>

        <li><a href="/">P&m.by</a> не контролирует и не контролирует связанные страницы. Клиенты, использующие эти ссылки, должны
            ознакомиться с правовыми условиями, указанными на соответствующих целевых страницах.
        </li>

    </ol>

    <h4>ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ</h4>

    <ol>
        <li>Текст, изображения, логотипы, товарные знаки, звуки, анимация, видео, исходный код и другой контент,
            включенный в этот сайт, являются собственностью команды <a href="/">p&m.by</a>.
        </li>
    </ol>
    <p>Пользователи этого сайта могут делиться, копировать и распространять материал на любом носителе или в формате и /
        или адаптировать, ремикшировать, трансформировать и создавать из этого материала при условии соблюдения трех
        условий:
    <ol>

        <li>Необходимо указывать авторство <a href="/">p&m.by</a>, разместив соответствующие ссылки а так же ссылку на лицензию, указав
            были ли внесены изменения в первоначальный контент. Сделать это в любой разумный способ, но без создания
            впечатления, что <a href="/">p&m.by</a> поддерживает вас или ваше использование контента.
        </li>

        <li>Вы не можете использовать материал и контент в коммерческих целях.</li>

    </ol>

    <h4>ВЕРСИЯ</h4>

    <p>Это Официальное уведомление датировано 04 апреля 2022, и любое изменение условий будет опубликовано на этом
        веб-сайте.</p>
</div>
{% endblock body_content %}