{% extends 'start_page/base.html' %}
{% block form %}{{search_form}}{% endblock form %}
{% block title %}P&M{% endblock title %}
{% block body_content %}
{% load static %}
    <div class="row">
        <div class="col-lg-12 col-m-6 col-s-4">
            <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'images/mother.jpg' %}"></div>
        </div>
    </div>
    <div class="row" id="list">
        <div class="col-lg-4">
            <h4>Популярные препараты</h4>
            <ul class="list-group">
                {% for popular_medcine in popular_medcines %}
                <li class="list-group-item list-group-item-action list-group-item-primary"><a style="color: #3042a6" href="{{ popular_medcine.get_absolute_url }}">{{popular_medcine.comm_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <h4>Новые препараты</h4>
            <ul class="list-group">
                {% for recent_synonym in recent_synonyms %}
                <li class="list-group-item list-group-item-action list-group-item-primary"><a style="color: #3042a6" href="{{recent_synonym.get_absolute_url }}">{{recent_synonym.comm_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <h4>Распространённые симптомы</h4>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action list-group-item-primary"><a>Головная боль</a></li>
                <li class="list-group-item list-group-item-action list-group-item-primary"><a>Изжога</a></li>
                <li class="list-group-item list-group-item-action list-group-item-primary"><a>Вздутие</a></li>
                <li class="list-group-item list-group-item-action list-group-item-primary"><a>Тошнота</a></li>
                <li class="list-group-item list-group-item-action list-group-item-primary"><a>Отечность</a></li>
            </ul>
        </div>
    </div>
{%endblock body_content%}