<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
{% if user.is_authenticated %}
<p>Здравствуйте {{user.username}}! Вы вошли в базу данных.</p>
<a href="{% url 'authentication:password_change' %}"><button type="submit" value="password_change">Сменить пароль</button></a>
<a href="{% url 'start_page:base' %}"><button type="submit" value="logout">Редактировать базу данных</button></a>
<a href="{% url 'authentication:logout' %}"><button type="submit" value="logout">Выйти</button></a>

{% else %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" name="next" value="{{next}}">
    <input type="submit" value="Войти">
</form>
    <a href="{% url 'authentication:password_reset' %}"><input type="submit" value="Восстановить пароль"></a>
{% endif %}
</body>
</html>