{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{title}}{%endblock title%}
{% block body %}
{% if validlink %}
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-5">
    <div class="row bg-white shadow-sm">
        <div class="col border rounded p-4">
        <h3 class="text-center mb-6">Смена пароля</h3>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-group">
                {{f|as_crispy_field}}
            </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-success w-100">Подтвердить</button>
        </form>
        </div>
    </div>
</div>
{%else%}
<p>Ссылка была скомпрометирована, повторите сброс пароля</p>
{% endif %}
{% endblock body %}