<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container" id="nav">
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #F5DFC3;">
        <div class="container-fluid">
            <a href="/" class="navbar-brand mb-0 h1">Pregnancy and medcine</a>
            <form class="d-flex" method="get" id="search" action="{% url 'start_page:search' %}">
                <div class="col-s-6">
                {% block form %}{% endblock form %}
                </div>
                <button class="btn btn-outline-primary" type="submit">Поиск</button>
            </form>
        </div>
    </nav>
</div>
<br>
<div class="container">
    {% block body_content %} {% endblock body_content %}
</div>
<div class="container">
    <div class="footer">
        <div class="row" id="footer">
            <div class="col-lg-6 col-sm-6">
                <p><a href="{% url 'start_page:about' %}">О проекте</a></p>
                <p><a href="{% url 'start_page:policy' %}">Условия пользования</a></p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <p style="white-space: pre-line; line-height: 30px; text-align: right">Если у вас остались вопросы,
                    обращайтесь к нам:<a href="mailto:#"></a></p>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
</body>
</html>