{% extends 'start_page/base.html' %}
{% block form %}{{search_form}}{% endblock form %}
{% block title %}{{search_name}}{% endblock title %}
{%block body_content%}
<p>
{{synonyms.comm_name}}
</p>
<p>
{{medcine.general_info}}
</p>
<p>
{{medcine.general_sources}}
</p>
<p>
МНН: {{medcine.international_name}}
</p>
<a href="{{medcine.general_documentation}}">
{{medcine.general_documentation}}
</a>
{%for synonyms in all_synonyms%}
<ul>
    <li>{{synonyms.comm_name}}</li>
</ul>
{%endfor%}
{%endblock body_content%}